/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-size: 18px;
  font-family: "Barlow", sans-serif;
}

/* A elements that don't have a class get default styles */
/* a:not([class]) {
  text-decoration-skip-ink: auto;
} */
a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

/* Make images easier to work with */
img,
picture,
label {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* make label elements block */
label {
  display: inline-block;
  width: 100%;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.header {
  background: url("./images/desktop/image-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 2rem;
  color: hsl(0, 0%, 100%);
  height: 100%;
  min-height: 100vh;
}

.header .toggle {
  display: none;
}

.header nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.header nav ul {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.header nav ul li a {
  padding: 0.5em 1.2em;
  border-radius: 1.25em;
  border: none;
  font-size: 1rem;
  font-family: "Fraunces", serif;
}

.header nav ul li a:hover,
.active {
  background-color: hsl(0, 0%, 100%);
  color: black;
}

.header .textss {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 50vh;
}
.header h1 {
  text-align: center;
  padding: 0;
  padding-top: 4rem;
  text-transform: uppercase;
  font-size: 3.5rem;
  font-family: "Fraunces", serif;
  font-weight: 900;
  letter-spacing: 0.2em;
}
.header div .img {
  align-self: center;
}

.grid-wrapper {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 0;
  grid-template-rows: repeat(3, 1fr);
}

.grid1 {
  grid-column: 1;
  grid-row: 1;
  padding: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 90vh;
}

.grid1 h2 {
  font-size: 3rem;
  font-family: "Fraunces", serif;
  line-height: 1.3;
  font-weight: 900;
}

.grid1 p {
  font-size: 1.15rem;
  padding: 2rem 0;
  color: hsl(232, 10%, 55%);
}

.grid1 a {
  font-size: 1.5rem;
  font-family: "Fraunces", serif;
  text-transform: uppercase;
  font-weight: 700;
  border-bottom: 3px solid hsl(51, 100%, 49%);
  padding-bottom: 0;
  line-height: 1;
  width: fit-content;
}

.grid2 {
  grid-column: 2;
  grid-row: 1;
  max-height: 90vh;
  /* background: url("./images/desktop/image-transform.jpg"); */
}

.grid3 {
  grid-column: 1;
  grid-row: 2;
  /* background: url("./images/desktop/image-stand-out.jpg"); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.grid4 {
  grid-column: 2;
  grid-row: 2;
  padding: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 90vh;
}

.grid4 h2 {
  font-size: 3rem;
  font-family: "Fraunces", serif;
  line-height: 1.2;
  font-weight: 900;
}

.grid4 p {
  font-size: 1.3rem;
  padding: 2rem 0;
  color: hsl(232, 10%, 55%);
}

.grid4 a {
  font-size: 1.5rem;
  font-family: "Fraunces", serif;
  text-transform: uppercase;
  font-weight: 700;
  border-bottom: 3px solid hsl(7, 99%, 70%);
  padding-bottom: 0;
  line-height: 1;
  width: fit-content;
}

.grid5 {
  grid-column: 1;
  grid-row: 3;
  padding: 4rem 10rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
}

.grid5 h2 {
  font-size: 2.5rem;
  padding: 1.5rem 0;
  font-family: "Fraunces", serif;
}
.grid5 p {
  font-size: 1.15rem;
}

.grid6 {
  grid-column: 2;
  grid-row: 3;
  padding: 4rem 10rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
}

.grid6 h2 {
  font-size: 2.5rem;
  padding: 1.5rem 0;
  font-family: "Fraunces", serif;
}
.grid6 p {
  font-size: 1, 15rem;
}

.graphic-design {
  background: url("./images/desktop/image-graphic-design.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: hsl(167, 40%, 24%);
}

.graphic-design h2 {
  font-weight: 900;
}

.photography {
  background: url("./images/desktop/image-photography.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: hsl(212, 27%, 19%);
}

/* testimonial section */

.testimonial {
  padding: 6rem;
}

.testimonial h2 {
  color: hsl(210, 4%, 67%);
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  text-align: center;
  font-family: "Fraunces", serif;
}

.testimonial .clients {
  display: flex;
  justify-content: space-between;
  padding: 5rem 0 0;
}

.testimonial .clients div {
  max-width: 30%;
  text-align: center;
  align-items: center;
  line-height: 2;
}

.testimonial .clients div img {
  border-radius: 50%;
  max-width: 20%;
  margin: 0 auto;
}

.testimonial .clients div p {
  color: hsl(213, 9%, 39%);
}

.testimonial .clients div p:first-of-type {
  padding: 3rem 0;
}

.testimonial .clients div h3 {
  font-weight: 800;
  font-family: "Fraunces", serif;
}

.testimonial .clients div p:last-of-type {
  font-size: 0.9rem;
  color: hsl(210, 4%, 67%);
}

.images {
  display: flex;
}

.images div {
  width: 25%;
}

.images div:first-of-type {
  /* background: url(./images/desktop/image-gallery-milkbottles.jpg); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

footer {
  min-width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: hsl(168, 48%, 65%);
  align-content: center;
  padding: 2rem;
}

footer svg {
  align-self: center;
}

footer ul {
  display: flex;
  color: hsl(167, 40%, 24%);
  justify-content: center;
}

footer ul li {
  margin: 1rem 1rem 0;
}

footer ul li a {
  padding: 1rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 600px) {
  .header {
    background: url(./images/mobile/image-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 2rem;
    color: hsl(0, 0%, 100%);
    height: 100%;
    min-height: 100vh;
  }
  .header .toggle {
    position: absolute;
    top: 2rem;
    right: 2rem;
    display: block;
    opacity: 0.7;
    max-width: 30px;
  }

  .toggled-nav {
    display: block;
  }

  .header .toggled-nav ul {
    position: fixed;
    left: 2rem;
    top: 4rem;
    right: 2rem;
    z-index: 100;
    min-width: 80%;
    color: black;
    display: flex;
    background-color: white;
    min-height: 50vh;
    padding: 2rem 0;
    flex-direction: column;
    text-align: center;
    margin-top: 2rem;
  }

  .header .toggled-nav ul::after {
    content: " ";
    position: absolute;
    top: -1.5rem;
    right: 0px;
    width: 0px;
    height: 0px;
    border-left: 1.5rem solid transparent;
    border-bottom: 1.5rem solid white;
  }

  .header nav ul li a {
    margin: 1rem 0;
    color: hsl(212, 27%, 19%);
  }
  .header nav ul li a:hover,
  .active {
    background-color: hsl(51, 100%, 49%);
    color: hsl(212, 27%, 19%);
    text-transform: uppercase;
    font-weight: 900;
    font-size: 0.75rem;
  }

  .header .textss {
    min-height: 70vh;
  }

  .header h1 {
    font-size: 2rem;
    padding: 1rem;
  }
  .header nav > img {
    max-width: 30%;
  }
  header nav .nav-items ul {
    display: none;
  }
  .grid-wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .grid4,
  .grid1 {
    padding: 2rem;
    max-width: 100%;
  }
  .grid1 h2,
  .grid4 h2 {
    font-size: 2rem;
    font-family: "Fraunces", serif;
    line-height: 1.2;
    font-weight: 800;
  }

  .grid1 p,
  .grid4 p {
    font-size: 1rem;
    padding: 2rem 0;
    color: hsl(232, 10%, 55%);
  }

  .grid1 a,
  .grid4 a {
    font-size: 1rem;
    font-family: "Fraunces", serif;
    text-transform: uppercase;
    font-weight: 700;
    border-bottom: 3px solid hsl(51, 100%, 49%);
    padding-bottom: 0;
    line-height: 1;
    width: fit-content;
    align-self: center;
  }
  .graphic-design {
    background: url("./images/mobile/image-graphic-design.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: hsl(167, 40%, 24%);
  }

  .photography {
    background: url("./images/mobile/image-photography.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: hsl(212, 27%, 19%);
  }
  .grid5,
  .grid6 {
    min-height: 80vh;
    padding: 2rem;
  }

  .grid5 h2,
  .grid6 h2 {
    font-size: 1.5rem;
    padding: 1.5rem 0;
    font-family: "Fraunces", serif;
  }
  .grid5 p,
  .grid6 p {
    font-size: 0.9rem;
  }
  /* testimonial section */

  .testimonial {
    padding: 4rem 2rem;
  }

  .testimonial h2 {
    font-size: 1rem;
  }

  .testimonial .clients {
    flex-direction: column;
  }

  .testimonial .clients div {
    max-width: 100%;
    padding: 0 0 4rem 0;
  }

  .testimonial .clients div:last-of-type {
    padding-bottom: 0;
  }

  .testimonial .clients div img {
    border-radius: 50%;
    max-width: 20%;
    margin: 0 auto;
  }

  .testimonial .clients div p:first-of-type {
    padding: 1rem 0;
    font-size: 1.05rem;
  }
  .images {
    display: flex;
    flex-wrap: wrap;
  }
  .images div {
    min-width: 50%;
  }

  footer svg {
    margin-bottom: 1.5rem;
  }
  footer ul {
    display: flex;
    color: hsl(167, 40%, 24%);
    justify-content: space-between;
    max-width: 100%;
    padding: 0;
  }

  footer ul:last-of-type {
    justify-content: space-evenly;
    margin-bottom: 0;
  }

  footer ul li {
    margin: 0;
  }
}
